<h3>スケジュール編集</h3>

<%=render"shared/error",obj: @task%>

<%= form_with model: @task do |f| %>

<table>
  <tr>
    <th><%=f.label :title,"タイトル"%></th>
    <td><%=f.text_field :title %></td>
  </tr>
  
  <tr>
     <th><%=f.label :startdate,"開始日"%></th>
     <td><%=f.date_field :startdate%></td>
   </tr>
   
   <tr>
     <th><%=f.label :enddate,"終了日"%></th>
     <td><%=f.date_field :enddate%></td>
   </tr>
  
  <tr>
    <th><%=f.label :allday,"終日"%></th>
    <td><%=f.check_box:allday,{},checked_value='○',unchecked_value=''%></td>
  </tr>
  
  <tr>
    <th><%=f.label:introduction,"スケジュールメモ"%></th>
    <td><%=f.text_area :introduction%></td>
  </tr>
</table>
<div>
<ul>
  <li><%=f.submit"スケジュールの編集を完了する"%></li>
  <li><%=link_to"スケジュール一覧へ戻る",:tasks%></li>
</ul>
</div>
<%end%>

<footer>現在の日時：<%= Date.current.strftime("%Y年 %m月 %d日") %>